@model ProductApplication.Models.Entities.Product
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="/Product/Edit/@Model.Id" method="post">
    @*ID:<input type="text" name="Id" readonly class="form-control" value="@Model.Id" />*@
    Name:<input type="text" name="Name" class="form-control" value="@Model.Name" />
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    Qty:<input type="number" name="Qty" class="form-control" value="@Model.Qty" />
    Price:<input type="number" name="Price" class="form-control" value="@Model.Price" />
    Desc:<input type="text" name="Desc" class="form-control" value="@Model.Desc" />
    <input type="submit" name="submit" value="Update" />
</form>